{{#partial "content"}}
    <div class="well">
        <h3>Team: {{teams.name}}&nbsp;&nbsp;</h3>

        <h4>Members:</h4>
            {{#if members}}
                {{#each members}}
                    <li class="edit-member">{{name}}&nbsp;&nbsp;<p class ="btn btn-warning btn-xs"><a href="/teams/{{this.teamId}}/members/{{this.id}}/edit">Edit member</a></p></li>
                {{/each}}
                    <br>
                    <p class ="btn btn-success btn-md"><a href="/members/new">Add another Member</a></p>
                {{else}}
        <p>No member listed yet!</p>
        <p class ="btn btn-success btn-md"><a href="/members/new">Add Member</a></p>
            {{/if}}
        <p class ="btn btn-primary btn-md"><a href="/">Go Back</a></p>
    </div>
{{/partial}}

{{> layout.hbs}}

